.animals
    &__inside
        display: flex
        justify-content: center
        align-items: center
        gap: 100px
        background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%)
        border-radius: 60px 
        height: 486px
    &__text
        width: 475px
    &__descr
        margin: 24px 0
        font-weight: 500
        font-size: 18px
