.inside
    padding-top: 120px
    &__wrapper
        padding: 70px 0 0px 190px
    &__header
        text-align: center
        font-weight: 700
        font-size: 40px
    &__item
        display: flex
        gap: 34px
        padding-top: 34px
        &__header
            font-weight: 700
            font-size: 30px
        &__subheader
            padding-top: 11px
            font-weight: 500
            font-size: 18px