.promo
    padding-top: 60px
    &__wrapper
        padding-top: 82px
        display: flex
        width: 1110px
        justify-content: space-between
    .block
        &__descr
            padding-top: 38px
            width: 465px
    &__header
        font-weight: 700
        font-size: 50px
    &__subheader
        padding-top: 30px
        font-weight: 500
        font-size: 18px
        padding-bottom: 30px